
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Fallback color */
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); /* Gradient background */
    background-size: cover;
}

h1 {
    text-align: center;
    color: #34495e;
    margin-top: 40px;
    font-size: 34px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Ombre portée sur le texte */
}

h2 {
    color: #34495e; /* couleur du texte "liste des etudiants*/
}

/* Container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* liste etudiants */
.etudiant {
    background-color: #f6eee7;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Animation de transition */
}

.etudiant:hover {
    transform: scale(1.05); /* Zoom sur hover */
}

.etudiant p {
    color: #666;
    margin: 10px 0;
}

/* les groupes */
#groupe-info {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* boutton historique */
button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease; /* Animation de transition */
}

button:hover {
    background-color: #ff403d;
}

#langSelect {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #ff6f61; 
    color: #fff; /* Texte blanc */
    cursor: pointer;
    border: none;
}

#langSelect:hover {
    background-color: #ff403d;
}

#langSelect option {
    background-color: #fff; /* Fond blanc pour les options */
    color: #ff6f61; /* pour les options */
}

#etudiant-info,
#groupe-info {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#group-list {
    padding: 0;
    margin: 0;
}

#group-list li {
    list-style-type: none;
    font-size: 18px;
    margin-bottom: 15px;
}

#group-list li span {
    font-weight: bold;
    color: #ff5733; /* Couleur du texte pour le nom du groupe */
}

/* Styles pour le formulaire de recherche */

#searchForm {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#searchForm label {
    color: #34495e; /* Couleur du texte pour les libellés */
    font-weight: bold;
}

#searchForm input[type="text"] {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#searchForm button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease; /* Animation de transition */
}

#searchForm button:hover {
    background-color: #ff403d;
}
