
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccd6e3; /* Fallback color */
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); /* Gradient background */
    background-size: cover;
}

h1 {
    text-align: center;
    color: #34495e;
    margin-top: 30px;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Ombre portée sur le texte */
}

h2 {
    color: #34495e; /* couleur du texte "liste des etudiants*/
}


/* Container */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* liste etudiants */
.etudiant {
    
    background-image: url("weather_histo.jpg");
    background-size: cover;
    text-align: center;

   
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Animation de transition */
}

.etudiant:hover {
    transform: scale(1.05); /* Zoom sur hover */
}

.etudiant p {
    color: #000000;
    margin: 10px 0;
}

/* les groupes */
#groupe-info {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* boutton historique */
button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease; /* Animation de transition */
}

button:hover {
    background-color: #ff403d;
}

#langSelect {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #ff6f61; 
    color: #fff; /* Texte blanc */
    cursor: pointer;
    border: none;
}

#langSelect:hover {
    background-color: #ff403d;
}

#langSelect option {
    background-color: #fff; /* Fond blanc pour les options */
    color: #ff6f61; /* pour les options */
}

#etudiant-info,
#groupe-info {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


#group-list {
    padding: 0;
    margin: 0;
}

#group-list li {
    list-style-type: none;
    font-size: 18px;
    margin-bottom: 15px;
}

#group-list li span {
    font-weight: bold;
   
}

/* Styles pour le formulaire de recherche */

#searchForm {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(129, 148, 173, 0.8); /* Fond semi-transparent */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#searchForm label {
    color: #34495e; /* Couleur du texte pour les libellés */
    font-weight: bold;
}

#searchForm input[type="text"] {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#searchForm button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease; /* Animation de transition */
}

#searchForm button:hover {
    background-color: #ff403d;
}

.weather-container {
    background-color: rgba(0, 0, 0, 0.2);
    width: auto;  
    border-radius: 10px;
    padding: 20px;
    margin: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 1;
    padding-bottom: 30px;
    display: inline-block; /* Display weather containers inline */
}

.weather-container a {
    text-decoration: none;
    color: #22202a;
}

.weather-container .weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-container .weather-info .city {
    margin-bottom: 10px;
}

.weather-container .weather-info .city img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.weather-container .weather-info .city .temperature {
    font-size: 16px;
    font-weight: bold;
}

.weather-container .weather-info .city .wind-speed {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 5px;
}



.historique{
    width: 100%; /* Pour que le contenu occupe toute la largeur disponible */
    max-width: 600px; /* Largeur maximale du contenu */
    padding: 5px; /* Ajouter un peu d'espace autour du contenu */
}


.termoEtu{
    display: flex;
    align-items: center; /* Aligner les éléments sur l'axe vertical */
    margin-bottom: 20px; /* Ajouter de l'espace entre les divs */
    border-radius: 6px; /* Arrondir les coins */
    padding: 10px; /* Ajouter un espacement intérieur */
    background-color: rgba(0, 0, 0, 0.25);

}

.date {
   margin-right: 10px;
    flex-shrink: 0;
    font-size: 12px;
    margin-right: 20px;
    min-width: 45px;
    text-align: center;
    white-space: nowrap;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}

.jour{
    
    color: rgba(0, 0, 0, 0.6); 
    font-size: 12px; 

}

.temperature{
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 12px;
    min-width: 98px;
    color: #000;
    flex-shrink: 0;
    font-size: 16px; 
    font-weight: 500;
    margin-right: 4px;

}

.ventVitese{
    font-size: 16px; 
    color: rgba(0, 0, 0, 0.6); 

}

.nomdeville{
    flex-grow: 1;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
}

.heure{ 
    margin-left: auto;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6); 
    

}

.container-histo {
    display: flex;
    justify-content: center; /* Centrer horizontalement */  
}